.start-page {
  .theme-btn {
    align-self: flex-end;
  }

  .title {
    font-size: 54px;
  }

  .btn {
    width: 120px;
    background-color: var(--accent);

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}
