.start-page {
  background-color: var(--start-page);

  .title {
    font-size: 72px;
    color: var(--accent);
  }

  .theme-btn {
    align-self: flex-end;
  }

  .description {
    width: 450px;
    color: gray;
  }

  .btn {
    width: 150px;
    background-color: var(--accent);

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}

@media only screen and (max-width: 767px) {
  .start-page {
    .description {
      width: 320px;
    }
  }
}
