@import '../components';
@import '../pages';

.scroll-container {
  overflow: hidden auto;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}
