@import '../components';
@import '../pages';

.main-container {
  height: 100vh;
  width: 100vw;
}

.scroll-container-y {
  overflow: hidden auto;
}

.scroll-container-x {
  overflow: auto hidden;
}

.scroll-container-x::-webkit-scrollbar,
.scroll-container-y::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container-x::-webkit-scrollbar-track,
.scroll-container-y::-webkit-scrollbar-track {
  background: var(--primary-color);
}

.scroll-container-x::-webkit-scrollbar-thumb,
.scroll-container-y::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}
