.redirect-page {
  background-color: var(--main);

  .theme-btn {
    align-self: flex-end;
  }

  .btn {
    width: 200px;
    background-color: var(--accent);

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}
