.user-info {
  width: 200px;
  height: 280px;
  background-color: var(--primary-color);

  .user-icon {
    width: 90px;
    height: 90px;
  }

  .skeleton-loader {
    width: 75%;
    height: 28px;
    margin-top: 8px;
  }

  .username {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 180px;
    height: 28px;
  }

  .user-btn {
    width: 150px;
    background-color: var(--accent);
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}

@media only screen and (max-width: 767px) {
  .user-info {
    height: 70px;
    width: 300px;

    .username {
      width: 75px;
      font-size: 14px;
      height: 14px;
    }

    .user-icon {
      width: 40px;
      height: 40px;
    }

    .skeleton-loader {
      height: 14px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .user-info {
    .username {
      width: 60px;
    }

    .user-icon {
      width: 32px;
      height: 32px;
    }

    .user-btn {
      width: 80px;
      height: 30px;
      font-size: 10px;
    }
  }
}
