.confirm-page {
  background-color: var(--main);

  .theme-btn {
    align-self: flex-end;
  }

  .title {
    font-size: 54px;
  }

  .confirm {
    width: 280px;
    background-color: var(--accent);
    cursor: pointer;
  }
}
