.header {
  height: 95px;
  background-color: var(--primary-color);

  .title {
    color: var(--accent);
  }

  .search-container {
    background-color: var(--main);

    .search-icon {
      width: 30px;
      height: 30px;
    }

    .search-input {
      width: 280px;
      outline: none;
      border: none;
      background-color: var(--main);
      color: var(--text);
    }

    .clear-btn {
      right: 8px;
      color: var(--accent);
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.33s;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    .theme-btn {
      align-self: flex-end;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    .search-container {
      .search-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
