.user-operations {
  width: 200px;
  height: 330px;
  background-color: var(--primary-color);

  .operation {
    background-color: var(--accent);
    height: 40px;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}

@media only screen and (max-width: 767px) {
  .user-operations {
    height: 70px;

    .operation {
      height: 35px;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .user-operations {
    height: 60px;

    .operation {
      height: 30px;
      font-size: 10px;
    }
  }
}
