.login-window {
  width: 400px;
  height: 370px;
  background-color: var(--primary-color);
  border: 3px solid var(--accent);

  .error-text {
    color: rgb(209, 30, 30);
  }

  .btn-wrapper {
    .submit-btn {
      background-color: var(--accent);
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.33s;
      }
    }

    &.disabled {
      cursor: not-allowed;

      .submit-btn {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .change-btn {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
