.login-window {
  width: 400px;
  height: 470px;

  .error-text {
    color: #d11e1e;
  }

  .sub-text {
    color: gray;
  }

  .btn-wrapper {
    .submit-btn {
      background-color: var(--accent);
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.33s;
      }
    }

    &.disabled {
      cursor: not-allowed;

      .submit-btn {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .google-btn {
    height: 50px;
    background-color: #fff;
    cursor: pointer;

    .google-logo {
      width: 35px;
      height: 35px;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }

  .change-btn {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
