.sign-up-window {
  width: 490px;

  .content {
    .img-wrapper {
      width: 105px;
      height: 105px;
      cursor: pointer;

      .file-input {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 105px;
        height: 105px;
        opacity: 0;
        cursor: pointer;
      }

      .icon {
        width: 105px;
        height: 105px;
        cursor: pointer;
      }
    }
  }

  .error-text {
    color: #d11e1e;
  }

  .btn-wrapper {
    .submit-btn {
      background-color: var(--accent);
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.33s;
      }
    }

    &.disabled {
      cursor: not-allowed;

      .submit-btn {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  .change-btn {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 767px) {
  .sign-up-window {
    width: 360px;

    .content {
      .img-wrapper {
        width: 85px;
        height: 85px;

        .file-input {
          width: 85px;
          height: 85px;
        }

        .icon {
          width: 85px;
          height: 85px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .sign-up-window {
    width: 300px;

    .content {
      .img-wrapper {
        width: 65px;
        height: 65px;

        .file-input {
          width: 65px;
          height: 65px;
        }

        .icon {
          width: 65px;
          height: 65px;
        }
      }
    }
  }
}
