.field {
  background-color: var(--primary-color);
  cursor: pointer;

  .name {
    font-size: 14px;
    color: var(--second-color);
  }

  .field-input {
    width: 265px;
    height: 24px;
    color: var(--text);
    background-color: var(--primary-color);
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  .eye-icon {
    width: 28px;
    height: 28px;
    right: 4px;
    background-color: #fff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 767px) {
  .field {
    .field-input {
      width: 225px;
      height: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .field {
    .field-input {
      width: 215px;
      height: 16px;
    }
  }
}
