.blog {
  width: 360px;
  height: 430px;
  background-color: var(--primary-color);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: 0.33s;
  }

  &.selected {
    filter: grayscale(40%);
    opacity: 0.6;
  }

  .skeleton-loader {
    width: 100%;
    height: 240px;
  }

  .blog-img {
    height: 240px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .date,
  .description {
    color: var(--second-color);
    font-size: 14px;
  }

  .description {
    height: 60px;
  }

  .title {
    display: inline-block;
    text-overflow: ellipsis;
    word-break: nowrap;
    overflow: hidden;
    width: 330px;
    color: var(--accent);
  }

  .user-info {
    height: 30px;
    cursor: pointer;

    .user-icon {
      width: 30px;
      height: 30px;
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}
